body {
    background-color: white;
    font-family: verdana;
}

h1 {
    text-align: center;
    color: darkblue;
}

h2 {
    text-align: left;
    margin: 5px;
    color: darkblue;
}

div {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkblue;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    overflow: auto;
}

canvas {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border-collapse: collapse;
}

table caption {
    color: darkblue;    
    margin-bottom: 15px;
    font-weight: bold;
}

td {
    width: 35px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

thead tr:last-child th {
    border-bottom: 2px solid darkblue;
}

tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

td:first-child {
    text-align: right;
    font-weight: bold;
    background-color: white;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

ul {
    list-style-type: none;
    overflow: auto;
    padding: 0px;
    text-align: center;
}

li {
    border-right: 1px solid darkblue;
    display: inline-block;
    padding: 0 5px;
}

li:last-child {
    border-right: none;
}

#toc {
    border: 0px;
    padding: 0px;
    text-align: center;
}

#toc li {
    padding: 0 10px;
}

#breakdown td {
    width: 75px;
}

#team_stats tr:nth-child(odd) {
    background-color: transparent;
}

#team_stats td:first-child {
    font-weight: normal;
}

#player_stats td:first-child {
    font-weight: normal;
    background-color: transparent;
}

#game_log td:first-child {
    font-weight: normal;
    background-color: transparent;
}

#roster_decisions td {
    width: 75px;
}

#roster_decisions td:first-child {
    font-weight: normal;
    text-align: center;
    width: 75px;
    background-color: transparent;
}

#roster_decisions td:nth-child(2) {
    width: 150px;
}

#roster_decisions td:nth-child(3) {
    width: 150px;
}

#top_bottom_ten li {
    padding: 0 10px;
}

#top_bottom_ten td {
    width: 75px;
}

#top_bottom_ten td:first-child {
    background-color: transparent;
    font-weight: normal;
    text-align: center;
}

#top_bottom_ten td a {
    color: inherit;
}

#top_bottom_ten td a:hover {
    color: inherit;
}

#top_ten_roto td {
    width: 50px;
}

#top_ten_roto td:first-child {
    background-color: transparent;
    font-weight: normal;
    text-align: center;
}

#top_ten_roto td a {
    color: inherit;
}

#top_ten_roto td a:hover {
    color: inherit;
}

#top_ten_breakdown td {
    width: 75px;
}

#top_ten_breakdown td:first-child {
    background-color: transparent;
    font-weight: normal;
    text-align: center;
}

#top_ten_breakdown td a {
    color: inherit;
}

#top_ten_breakdown td a:hover {
    color: inherit;
}

#shutouts td {
    width: 75px;
}

#shutouts td:first-child {
    background-color: transparent;
    font-weight: normal;
    text-align: center;
}

#shutouts td a {
    color: inherit;
}

#shutouts td a:hover {
    color: inherit;
}

#year_rank tr {
    background-color: transparent;
}

#favorite_players td:first-child {
    font-weight: normal;
}

#favorite_players tr {
    background-color: transparent;
}

#results tr:nth-child(odd) {
    background-color: transparent;
}

#schedule tr:nth-child(odd) {
    background-color: transparent;
}

#schedule td {
    width: 100px;
}

#best_worst_schedule tr:nth-child(odd) {
    background-color: transparent;
}

#best_worst_schedule td {
    width: 100px;
}
